.dailyForecast{
    .dailyforecast__title {
        font-size: 1.1rem;
        text-align: center;
        margin-top: 0.5rem;
        @include mq(786px) {
            font-size: 1.3rem;
        }
    }

    .dailyForecast__contents {
        @include flexCenter;
        flex-grow: 1;
        justify-content: space-evenly;
        color: $font-color;
        padding: 0.5rem 0;

        .forecastDay {
            padding: 0.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 0.9 rem;
            @include mq(375px) {
                font-size: 1rem;
                padding: 0.5rem;
            }
            @include mq(425px) {
                padding: 0 0.75rem;
            }
            background-color: $mask-color;
            border-radius: 5px;
        }
        .forecastDay:any-link {
            color: $font-color;
            text-decoration: none;
        }
        .forecastDay:hover, .forecastDay:focus {
            cursor: pointer;

            .dayAbbreviation{
                text-decoration: underline;
            }
        }
    }
}