$font-color: #fff;
$background-color: rgba(0,0,255,0.5);
$fog-color: darkolivegreen;
$mask-color: rgba(0,0,0,0.1);
$night-color: midnightblue;
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadow-color:#fff;
$text-shadow-color: #000;
$fadecolor: rgba(255,255,255,0.6);
